body {
    overflow-x: hidden;
    background-color: #fbfbfb;
    font-family: poppins !important;
    color: #5a5a5a!important;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

.navbar {
    left: 240px !important;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}

.navbar-brand {
    margin-left: 47px;
    margin-bottom: 41px;
}

.datepicker {
    top: 110.5px !important;
}


/* Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    /*padding: 58px 0 0;*/
    /* Height of navbar */
    width: 240px;
    z-index: 600;
}

.list-group-item {
    color: white !important;
    margin-bottom: 19px;
    border: none !important;
    background-color: #1e8af7 !important;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    color: #58baeb !important;
    background-color: white !important;
    border-radius: 5px !important;
    /*box-shadow: 0 2px 5px 0 #58baeb, 0 2px 10px 0 #58baeb;*/
    border: none !important;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

h1 {
    margin-top: 38px !important;
    margin-left: 22px;
}

hr {
    height: 2px !important;
    width: 1307px;
    margin-left: 25px !important;
}

.card-header {
    padding: 1rem 1rem !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table {
    /* box-shadow: rgba(163, 163, 163, 0.39) 0px 5px 11px -4.5px; */
    height: auto;
    border-radius: 5px;
    top: 3px;
    width: 100%;
    transition: all 0.8s ease;
    /*overflow: visible !important;*/
    position: relative;
}

table {
    gap: 60px;
    /* overflow: visible; */
    border: 1px solid whitesmoke;
    overflow-y: auto;
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

table thead {
    font-weight: normal;
    color: #5a5a5a;
    height: 50px;
    font-size: 14px;
    text-align: center;
}

table tbody {
    overflow-y: auto;
    height: auto;
    margin-top: 10px;
}

table td {
    height: 50px;
    background-color: inherit;
    text-align: center;
    border-top: 1px solid rgb(240, 240, 240);
    font-size: 13px;
    color: rgb(69, 87, 106);
}

table td.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

table td.action input {
    padding-bottom: 2px;
    height: 27px;
    width: 55px;
    color: #ffffff;
    background-color: #0833a7;
    border: none;
    border-radius: 4px;
}

.entete {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-add {
    display: flex;
    align-items: center;
}

.dataTables_filter {
    display: none;
}

.swal-modal {
    width: 514px;
}

.infoMiss {
    /* width: 100px; */
    width: 100%;
}

.infoMiss td {
    /* width: 100%; */
    height: 46px;
    padding-left: 20px;
    font-weight: bold;
    text-align: left;
}

.infoMiss td[id] {
    text-align: right;
    font-weight: 400;
    padding-right: 20px;
}

.tableCollabMiss {
    width: 100%;
}

.tableCollabMiss td {
    width: 10px;
}

.green {
    background-color: #3ec93e !important;
}

.blue {
    background-color: #1e8af7 !important;
}

.red {
    background-color: #ff5252 !important;
}

.left::after {
    margin-left: 1.255em !important;
}

.gray {
    color: #8b8b8b !important;
}

.greenText {
    color: #3ec93e !important;
}

.inpt-txt {
    border: none;
    padding: 4px;
    border-radius: 3px;
    color: rgb(69, 87, 106) !important;
    outline: none !important;
}

.sec-histo {
    height: 50px;
    background-color: inherit;
    text-align: center;
    font-size: 13px;
    color: rgb(69, 87, 106);
    border: 1px solid rgb(235 235 235);
    border-radius: 4px;
    padding: 12px 0px;
}

.overlay {
    position: relative;
    display: inline-block;
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 66%);
    z-index: 3;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    z-index: 4;
}

.overlay-container {
    position: relative;
}

.caption {
    position: absolute;
    /* bottom: 0; */
    /* left: 0; */
    width: 100%;
    /* color: white; */
    padding: 8px;
}

.image-iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

.image-iframe>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.PJ {
    border: 1px solid #dbdbdb;
    width: 147px;
    position: relative;
    z-index: 2;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}